<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="1.6" />
  <package id="EntityFramework" version="5.0.0"/>
  <package id="FluentAssertions" version="2.0.0.1" />
  <package id="FluentAssertions" version="4.19.2" />
  <package id="xunit" version="2.1.0" />
  <package id="xunit.abstractions" version="2.0.0" />
  <package id="xunit.assert" version="2.1.0" />
  <package id="xunit.core" version="2.1.0" />
  <package id="xunit.extensibility.core" version="2.1.0" />
  <package id="xunit.extensibility.execution" version="2.1.0" />
  <package id="xunit.runner.visualstudio" version="2.1.0" />
  <!--Below packages are used by Microsoft.Extensions.ODataClient-->
  <package id="Microsoft.Extensions.DependencyInjection" version="2.1.0" />
  <package id="Microsoft.Extensions.Options" version="2.1.0" />
  <package id="Microsoft.Extensions.Http" version="2.1.0" />
</packages>